*{
    margin: 0%;
    padding: 0%;
}
.cases{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px 10px;
}
.calculator{
    background: linear-gradient(135deg, lightpink , white);
    width: 270px;
    padding: 20px;
    height: 470px;
    border-radius: 10px;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(52, 36, 40);
}
.reset{
    grid-column: 1/3;
    background-color: rgb(108, 77, 85);
    transition: all 0.2s ease;
}
.equal{
    grid-column: 3/-1;
    background-color: rgb(108, 77, 85);
    transition: all 0.2s ease;
}
.reset:hover{
    background-color: rgb(37, 26, 29);
    color: white;
}
.equal:hover{
    background-color: rgb(37, 26, 29);
    color: white;
}
.delete{
    background-color: rgb(108, 77, 85);
    transition: all 0.2s ease;
}
.delete:hover{
    background-color: rgb(37, 26, 29);
    color: white;
}
input{
    height: 60px;
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    transition: all 0.2s ease;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.1),5px 5px 15px rgb(0, 0, 0, 0.2);
}
input:hover{
    background-color: rgb(108, 77, 85);
}
.display{
    background-color: rgb(206, 206, 206);
    grid-column: 1/-1;
}
